<footer class="d-flex justify-content-center">
    <p class="pt-2">&copy;2021</p>
    <p class="pt-2 ms-4">Veegil bank Limited</p>
</footer>

<script src="/js/bootstrap.min.js"> 
</script>
<script src="/script/main.js"></script>