<!-- Navigation Partial Template -->
<header>
    <div>
        <nav class="nav justify-content-center">
            <a class="nav-link btn-primary" href="#">Home</a>
            <a class="nav-link btn-primary" href="/api/bank/action">Action</a>
            <a class="nav-link btn-primary" href="/api/bank/balance">Balance</a>
            <a class="nav-link btn-primary" href="/api/bank/transfer">Transfer</a>
            <a class="nav-link btn-primary" href="/api/bank/trans-details">Transaction Details</a>
            <a class="nav-link btn-primary" href="/api/bank/logoutUser">Logout</a>
        </nav>
    </div>
</header>
