<%- include('../partials/_head') -%>
 <body id="action-cover">
        <%- include('../partials/_nav') -%>
        <h3 class="text-center mx-auto text-white btn-secondary action-btn">Make Deposit or Withdrawal</h3>
        <div class="reg-form mx-auto">
            <form action="/api/transaction/action" method="POST"
                class="pt-4 mx-auto" id="action-form">
                <div class="mb-1 row">
                    <label class="form-label col-md-4 col-form-label" for="acc_number">Account Number</label>
                    <input class="col-md-8" type="text" name="acc_number" placeholder="Your phone number is your account number" required />
                </div>
                <div class="mb-1 row">
                    <label class="form-label col-md-4 col-form-label" for="amount">Amount</label>
                    <input class="col-md-8" type="number" name="amount" placeholder="Enter amount" required/>
                </div>
                <div class="mb-1 row">
                    <label class="form-label col-md-4 col-form-label" for="description">Description</label>
                    <input class="col-md-8" type="text" name="description" placeholder="Enter description" required/>
                </div>
                <div class="mb-1 row">
                    <label class="form-label col-md-4 col-form-label" for="comment">Comment</label>
                    <input class="col-md-8" type="text" name="comment" placeholder="Enter coment" />
                </div>
                <div class="mb-1 row">
                <label class="form-label col-md-4 col-form-label" for="trans_type">Transaction Type</label>
                <select class="form-select col-md-8" name="trans_type" aria-label="Select action">
                    <option selected>Make Selection</option>
                    <option value="deposit">Deposit</option>
                    <option value="withdraw">Withdraw</option>
                </select>
                </div>
                <div class="d-flex justify-content-end">
                    <input id="actionBtn" class="px-5" type="submit" name="submit" value="Submit" />
                </div>
            </form>
        </div>        
        <%- include('../partials/_footer') -%>
    </body>
    </html>