<%- include('../partials/_head') -%>

    <body id="feedback-cover">
        <%- include('../partials/_nav') -%>
            
    <div id="msg-box" class="text-center text-white">
        <h4><%= msg %></h4>
    </div>
                        
        <%- include('../partials/_footer') -%>
    </body>

    </html>