<%- include('../partials/_head') -%>
    <body id="login-cover">
        <h3 class="text-center text-white">Please login</h3>
        <div class="msg-holder d-flex justify-content-center" id="msg-login">
        <% if (typeof msg !=="undefined" ) { %>
            <div class="d-flex justify-content-end align-items-center status-msg alert alert-dismissible fade show alert-<%= type %>"
                role="alert">
                <strong >
                    <%= msg %>
                </strong>
                <button class="btn-close position-relative" type="button" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
        <% } %>
        </div>
        <div class="reg-form mx-auto p-2">
            <form action="/api/bank/loginUser" method="POST" enctype="application/x-www-form-urlencoded" class="pt-4 mx-auto">
                <div class="mb-1 row">
                    <label class="form-label col-md-4 col-form-label" for="username">Username</label>
                    <input class="col-md-8" type="text" name="username" placeholder="Enter username" required />
                </div>
                <div class="mb-1 row">
                    <label class="form-label col-md-4 col-form-label" for="password">Password</label>
                    <input class="col-md-8" type="password" name="password" placeholder="Enter password" required />
                </div>
                <div class="d-flex justify-content-end">
                    <input class="px-5" type="submit" name="submit" value="Login" />
                </div>
            </form>
        </div>
        <br>
        <div class="reg-link mx-auto d-flex justify-content-center">
            <a class="btn btn-primary py-1 px-3" id="" href="/api/bank/register">Register</a>
            <a class="btn btn-primary p-1 px-3" id="" href="/api/bank">Cover</a>
            <%- include('../partials/_footer') -%>
        </div>
    </body>

    </html>